<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PythonIDELight"
        tools:targetApi="31">

        <activity
            android:name=".CodeEditorActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PythonIDELight"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- File Manager Activity -->
        <activity
            android:name=".files.FileManagerActivity"
            android:label="@string/file_manager_title"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PythonIDELight"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <!-- File Content Editor Activity -->
        <activity
            android:name=".files.FileContentEditor"
            android:label="@string/file_editor_title"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PythonIDELight"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- Library Manager Activity -->
        <activity
            android:name=".library.LibraryManagerActivity"
            android:label="@string/library_manager_title"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PythonIDELight"
            android:windowSoftInputMode="adjustResize" />

        <!-- Install Libraries Activity -->
        <activity
            android:name=".library.InstallLibrariesActivity"
            android:label="@string/install_libraries_title"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PythonIDELight"
            android:windowSoftInputMode="adjustResize" />

        <!-- Library Details Activity -->
        <activity
            android:name=".library.LibraryDetailsActivity"
            android:label="@string/library_details_title"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PythonIDELight"
            android:windowSoftInputMode="adjustResize" />

        <!-- File Provider for secure file access -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <!-- Query for file access -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

</manifest>